/**
 * _base.scss
 */

@font-face {
  font-family: 'NotoSansArmenian-Bold';
  src: url(../../font/rounded-mplus-1p-bold.ttf);
}
@font-face {
  font-family: 'fontawesome-webfont';
  src: url(../../font/fontawesome-webfont.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'NotoSansArmenian-Bold' !important;
  overflow: hidden;
  font-size: 20px;
}

h1, h2, h3, h4 {
  margin: 0;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  color: #015404;
}

core-toolbar {
  height: 80px;
  background-color: #015404;
  color: #F5F5F5;
  padding-left: 20px;
}

core-drawer-panel {
  top: 80px;
  bottom: 0;
  height: auto;
  > core-header-panel[drawer] {
    background-color: #CFD8DC;
    color: #015404;
  }
}

core-selector {
  > div {
    padding: 10px;
    border-bottom: 1px solid #FFFFFF;
    color: #7A7C7A;
    cursor: pointer;
    &[active] {
      color: #015404;
    }
  }
}

.content-area {
  position: absolute;
  width: 75%;
  height: 86%;
  top: 60px;
  left: 23%;
  background-color: #FFF;
  box-shadow: 2px 2px 2px #000000;
  border: 1px solid #000000;
  overflow: scroll;
  > paper-tabs {
    background-color: #5A5A5A;
    color: #FFF;
  }
}

